﻿<div>
    <div>
        <p4><span class="colortext"> @ViewBag.ErrorMessage </span></p4>
    </div>
    <div>
        <br />
        <button class = "btn btn-outline-dark" onclick="goBack()">Go Back</button>
    </div>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>