﻿@model Lab06.MVC.Models.Account.LoginModel

<div>
    <h3>Log in</h3>
    <br />

    <p4><span class="colortext"> @ViewBag.Message </span></p4>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <strong>Input Username:</strong>
            <span>
                <br />
                @Html.TextBoxFor(_ => _.Username, new { @style = "width: 40%", @class = "form-control" })
                @Html.ValidationMessageFor(_ => _.Username)
            </span>

            <br />

            <strong>Input your password:</strong>
            <br />

            @Html.PasswordFor(_ => _.Password, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Password)
            <br />

            <input type="submit" name="button" value="Sign in" class="btn btn-primary" />

            <p>
                <br />
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        </div>
    }
</div>