﻿@model Lab06.MVC.Models.Account.RegisterModel

<div>
    <h3>Registartion</h3>
    <br />
    <p4><span class="colortext"> @ViewBag.Message </span></p4>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <strong>Input Username:</strong>
            <br />
            @Html.TextBoxFor(_ => _.Username, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Username)
            <br />

            <strong>Input your password:</strong>
            <br />
            @Html.PasswordFor(_ => _.Password, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Password)
            <br />

            <strong>Repeat your password:</strong>
            <br />
            @Html.PasswordFor(_ => _.ConfirmPassword, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.ConfirmPassword)
            <br />

            <input type="submit" name="button" value="Registartion" class="btn btn-primary" />
        </div>
    }
</div>