﻿@model Lab06.MVC.Models.Cars.CarsModel;

<div>
    <h2>Lineup <strong>Geely</strong></h2>
</div>

<div class="row">
    @foreach (var car in Model.Cars)
    {

        <div class="col-md-6 car-img">
            <img src="@($"/images/cars/{car.Id}.png" )" alt="Logo">
            <div class="col-md-4 col">
                <h4>@car.Name</h4>
                <p>@car.Description</p>
                <p>
                    @Html.ActionLink("See more", "Index", "Cars", null, new { @class = "btn btn-outline-dark" })
                </p>
            </div>

        </div>
    }
</div>