﻿@using Newtonsoft.Json
@model API_Validator.Models.ValidationResultsViewModel;

<div>
    @{ ViewData["Title"] = "Home Page";}
</div>

<div>
    <h3>Choose the API-file for validation:</h3>
    <br />
    <form asp-action="Validate" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="validatedFile" />
        <br />
        <br />
        <div>
            <input type="submit" value="Validate" class="btn btn-primary" />
            <a class="btn btn-primary rulesPopUp" style="margin: auto 0; background-size: 100%; text-align: center" asp-controller="Home" asp-action="SetRules" asp-route-selectedRules="selectedRules">
                <img src="~/images/gearWhite.png" style="margin: auto 0; width: 20px; height: 20px;" />
            </a>
        </div>
    </form>

    @if (Model != null)
    {
        <div>
            <br />
            <h4> Validation results for @Model.Filename:</h4>
            <br />

            <div class="row">

                <div class="button">
                    <form method="post" asp-controller="Home" asp-action="ExportToPdf" target="_blank">
                        <input type="hidden" name="RuleCheckResultsInJson" value="@JsonConvert.SerializeObject(Model.ValidationResult)"/>
                        <input type="hidden" name="fileName" value="@Model.Filename"/>
                        <input type="submit" class="btn btn-secondary" value="Download PDF"/>
                    </form>
                </div>

                <br/>
                <div class="button">
                    <form method="post" asp-controller="Home" asp-action="ExportToCsv">
                        <input type="hidden" name="ruleCheckResultsInJson" value="@JsonConvert.SerializeObject(Model.ValidationResult)"/>
                        <input type="hidden" name="fileName" value="@Model.Filename"/>
                        <input type="submit" class="btn btn-secondary" value="Download CSV"/>
                    </form>
                </div>
            </div>

            <br />
            <table class="table table-hover">
                <thead><tr><td>Line</td><td>Type</td><td>Message</td></tr></thead>
                <tbody>
                    @foreach (var item in Model.ValidationResult)
                    {
                        <tr><td>@item.Line</td><td>@item.ResultType</td><td>@item.Message</td></tr>
                    }
                </tbody>
            </table>
        </div>


    }
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>


@section Scripts{
    <script src="lib/Unobtrusive-Ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".rulesPopUp").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}