﻿@model API_Validator.Models.RulesDescriptionViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Customize rules</h4>
        <button class="close" data-dismiss="modal">х</button>
    </div>
    <div class="modal-body">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            HttpGet rules
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        @for (int i = 0; i < Model.HttpGetNames.Count(); i++)
                        {
                            var ruleId = @Model.HttpGetNames.ElementAt(i);
                            if (ruleId.IsSelected)
                            {
                                <div title="@ruleId.RuleDescriptionInfo">
                                    <input type="checkbox" name="rules[@i]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                              
                                    <label for="@ruleId" title="@ruleId.RuleName">@ruleId.RuleName </label><br>
                                </div>
                            }
                            else
                            {
                    <div title="@ruleId.RuleDescriptionInfo">
                        <input type="checkbox" name="rules[@i]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                      
                        <label for="@ruleId" title="@ruleId.RuleName">@ruleId.RuleName </label><br>
                    </div>
                            }
                        }

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            httpPost rules
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        @{
                            var plus = Model.HttpGetNames.Count();
                            @for (int i = 0; i < Model.HttpPostNames.Count(); i++)
                            {
                                var ruleId = @Model.HttpPostNames.ElementAt(i);
                                if (ruleId.IsSelected)
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                                }
                                <label for="@ruleId">@ruleId.RuleName</label><br>

                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            HttpHead rules
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        @{
                            plus = Model.HttpGetNames.Count() + Model.HttpPostNames.Count();
                            @for (int i = 0; i < Model.HttpHeadNames.Count(); i++)
                            {
                                var ruleId = @Model.HttpHeadNames.ElementAt(i);
                                if (ruleId.IsSelected)
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                                }
                                <label for="@ruleId">@ruleId.RuleName</label><br>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            HttpPut rules
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        @{
                            plus = Model.HttpGetNames.Count() + Model.HttpPostNames.Count() + Model.HttpHeadNames.Count();
                            @for (int i = 0; i < Model.HttpPutNames.Count(); i++)
                            {
                                var ruleId = @Model.HttpPutNames.ElementAt(i);
                                if (ruleId.IsSelected)
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                                }
                                <label for="@ruleId">@ruleId.RuleName</label><br>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            HttpDelete rules
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        @{
                            plus = Model.HttpGetNames.Count() + Model.HttpPostNames.Count() + Model.HttpHeadNames.Count() + Model.HttpPutNames.Count();
                            @for (int i = 0; i < Model.HttpDeleteNames.Count(); i++)
                            {
                                var ruleId = @Model.HttpDeleteNames.ElementAt(i);
                                if (ruleId.IsSelected)
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                                }
                                <label for="@ruleId">@ruleId.RuleName</label><br>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Other rules
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        @{
                            plus = Model.HttpGetNames.Count() + Model.HttpPostNames.Count() + Model.HttpHeadNames.Count() + Model.HttpPutNames.Count() + Model.HttpDeleteNames.Count();
                            @for (int i = 0; i < Model.CustomNames.Count(); i++)
                            {
                                var ruleId = @Model.CustomNames.ElementAt(i);
                                if (ruleId.IsSelected)
                                {
                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" checked="checked" />
                                }
                                else
                                {

                                    <input type="checkbox" name="rules[@(plus + i)]" value="@ruleId.RuleClassName" id="@ruleId.RuleClassName" />
                                }
                                <label for="@ruleId">@ruleId.RuleName</label><br>
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="col-12">
                <input type="submit" class="btn btn-primary " onclick="onSaveClick()" value="save" />
            </div>
            <script type="text/javascript">

                function onSaveClick() {

                    var rules = [];

                    var checked = $('.card input[type=checkbox]:checked').each(function() {
                        rules.push($(this).attr("id"));
                    });

                    fetch('/home/SetRules', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(rules)
                    }).then(response => {
                        $('.close').click();
                    });
                }

            </script>
        </div>
    </div>
    <div class="modal-footer"></div>


</div>

@section Scripts{

    <script src="lib/Unobtrusive-Ajax/jquery.unobtrusive-ajax.min.js"></script>

}