﻿@using Newtonsoft.Json;
@model API_Validator.Models.ValidationResultsViewModel;
<div id="validationInfo">
    @if (Model != null)
    {
        <div>
            <br />
            <h4> Validation results for @Model.Filename:</h4>
            <br />
        </div>

        <div class="row">
            <div class="button">
                <form method="post" asp-controller="Home" asp-action="ExportToPdf" target="_blank">
                    <input type="hidden" name="RuleCheckResultsInJson" value="@JsonConvert.SerializeObject(Model.ValidationResult)" />
                    <input type="hidden" name="fileName" value="@Model.Filename" />
                    <input type="submit" class="btn btn-secondary" value="Download PDF" />
                </form>
            </div>

            <br />
            <div class="button">
                <form method="post" asp-controller="Home" asp-action="ExportToCsv">
                    <input type="hidden" name="ruleCheckResultsInJson" value="@JsonConvert.SerializeObject(Model.ValidationResult)" />
                    <input type="hidden" name="fileName" value="@Model.Filename" />
                    <input type="submit" class="btn btn-secondary" value="Download CSV" />
                </form>
            </div>
        </div>

        <br />
        <table class="table table-hover">
            <thead><tr><td>Line</td><td>Type</td><td>Message</td></tr></thead>
            <tbody>
                @foreach (var item in Model.ValidationResult)
                {
                    <tr><td>@item.Line</td><td>@item.ResultType</td><td>@item.Message</td></tr>
                }
            </tbody>
        </table>
    }
</div>