﻿@if (Context.User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav flex-grow-3">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark">Hello, @Context.User.Identity.Name!</a>
        </li>
    </ul>
}

else
{
    <ul class="nav navbar-nav flex-grow-3">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}