﻿@model Lab06.MVC.Models.Cars.EditCarModel;

<div>
    @{
        ViewData["Title"] = ViewData["ActionType"] + " new car";
    }

    <h4> @ViewData["Title"]</h4>
    <br />

    @using (Html.BeginForm("Edit", "Cars", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary(true)

            @Html.HiddenFor(_ => _.Car.Id)

            <strong>Name:</strong>
            <br />
            @Html.TextBoxFor(_ => _.Car.Name, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Car.Name)
            <br />

            <strong>Description:</strong>
            <br />
            @Html.TextBoxFor(_ => _.Car.Description, new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Car.Description)
            <br />

            <strong>Select Bodytype of car:</strong>
            <br />
            @Html.DropDownListFor(_ => _.Car.CarTypeId,
                            new SelectList(Model.CarTypes, "Id", "Type"),
                            "Select Bodytype of car", new { @style = "width: 40%", @class = "form-control" })
            @Html.ValidationMessageFor(_ => _.Car.CarTypeId)
            <br />

            <input type="submit" name="button" value="Save" class="btn btn-primary" />
        </div>
    }
</div>