﻿@model Lab06.MVC.Models.Cars.CarsModel;

<div class="row">

    <h2>Cars</h2>
    <p4><span class="colortext"> @ViewBag.Message </span></p4>

    <div class="row">
        <div class="search-panel col-md-6">
            <br />
            <input type="text" id="searchCar" value="@Model.SearchText" />
            <a href="@Url.Action("Index")" onclick="searchCar(event)">Search</a>
        </div>
    </div>

    @if (User.IsInRole("admin"))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Create new car", "create", "Cars", null, new { @class = "btn btn-outline-dark" })
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <table>
                <caption>Cars in stock</caption>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    @if (User.IsInRole("admin"))
                    {
                        <th scope="col">SearchField</th>
                    }
                    <th scope="col">Description</th>
                    <th scope="col">Type of body</th>
                    @if (User.IsInRole("admin"))
                    {
                        <th scope="col">Actions</th>
                    }
                    @if (!(User.IsInRole("admin")))
                    {
                        <th scope="col">Order</th>
                    }
                </tr>

                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>@car.Id</td>
                        <td>@car.Name</td>
                        @if (User.IsInRole("admin"))
                        {
                            <td>@car.SearchField</td>
                        }
                        <td>@car.Description</td>
                        <td>@car.CarType.Type</td>

                        @if (User.IsInRole("admin"))
                        {
                            <td>

                                @using (Html.BeginForm("Remove", "Cars", new { id = car.Id }, FormMethod.Post, true, null))
                                {
                                    @Html.ActionLink("Edit", "Edit", "Cars", new { id = car.Id })
                                    <text> | </text>
                                    @Html.ActionLink("Remove", "Remove", "Cars", null, new { onclick = "onLinkClick(event)" })
                                }
                            </td>
                        }
                        @if (!(User.IsInRole("admin")))
                        {
                            <td>
                                @Html.ActionLink("order Test-Drive", "Order", "Cars", new { CarId = car.Id })
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
            function searchCar(e) {
                var searchText = document.getElementById("searchCar").value;
                    e.target.href = "@Url.Action("Index")" + "?searchText=" + searchText;
            }

            function onLinkClick(e) {
                e.preventDefault();
                e.stopPropagation();

                if (confirm("Are you really want to remove the car?")) {
                    e.target.parentNode.submit();
                }

                return false;
            }
    </script>
}