﻿
@model Lab06.MVC.Models.Cars.AddCarToUserModel;

@{
    ViewData["Title"] = ViewData["ActionType"] + "Car";
}
<div>
    <div>
        <h3> @ViewData["Title"]</h3>
        <br />
    </div>

    @using (Html.BeginForm("Order", "Cars", FormMethod.Post))
    {
        @Html.HiddenFor(_ => _.CarId)
        @Html.HiddenFor(_ => _.UserId)

        <strong>Choose date for Test-Drive:</strong>
        <br />
        @Html.TextBoxFor(model => model.TestdriveDate, new { id = "testDriveDate", @class = "form-control", type = "date", @style = "width: 20%" })
        <br />
        <input type="submit" name="button" value="Order test drive" onclick="javascript:return ShowMessage();" class="btn btn-primary" />
    }
</div>


@section Scripts
    {
    <script>
        function ShowMessage() {
            var data = document.getElementById("testDriveDate").value;
            return confirm("Do you want to make a test drive on the " + data + "?");
        }
    </script>
}