﻿/*.filter-bar {
    width: 20%;
    float: left;
    border-right: 2px solid;
}

.content {
    width: 80%;
    float: left;
}*/

.body-content {
    padding: 5px 0 15px 0;
}

.car-img img {
    width: 520px;
    height: 370px;
}

.logo-img img {
    width: 80px;
}

.result-logo {
    padding: 0 0 15px 0;
}

.result-car {
    padding: 0 0 15px 0;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: inherit;
    border-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
}

tr {
    height: 30px;
}

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

table tbody tr:last-child td {
    border: none;
}

.color-box {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}